span{
  color: var(--primary);
  font-size: 4.57em;
}


.presentation{
  font-size: 1.43em;
  line-height: 1.75em;
  text-align: center;
  font-family: "Mate SC", serif;
}

.section-1{
  height: 85vh;
}
