<section class="section-1 container d-flex flex-column flex-align-items-center">
<div class="m-auto text-align">
  <span class="m-20 Marck">Benvenuti</span>
  <h1 class="m-20 Marck">SEMPRE <br>LINDA</h1>
  <div class="home-yellow">
    <p>Pizza au feux de bois - Pâtes maison</p>
    <p>Viande - Poisson</p>
    <p>Sur place - À emporter</p>
    <p>En livraison</p>
  </div>
</div>
</section>
<section class="presentation small-container">
  <p>
    SEMPRE LINDA : Un goût d'Italie authentique à Villerupt depuis 1997
  </p>
  <p>
    Envie d'un voyage gustatif en Italie ? Ne cherchez plus ! Le restaurant Sempre Linda vous accueille à Villerupt
    dans une ambiance chaleureuse et conviviale pour vous faire découvrir les saveurs authentiques de la cuisine italienne.
  </p>
  <p>
    Depuis 1997, notre famille met tout son cœur et son savoir-faire dans la préparation de plats faits maison, élaborés avec des
    produits frais et de saison. Pizzas cuites au feu de bois, pâtes fraîches, antipasti savoureux et desserts gourmands :
    laissez-vous tenter par notre carte riche et variée qui saura ravir vos papilles gustatives.
  </p>
  <p>
    Sempre Linda, c'est :
  </p>
  <p>
    - Une cuisine italienne authentique et généreuse préparée avec des produits frais et de saison
  </p>
  <p>
    - Des pizzas cuites au feu de bois dans notre traditionnel four à pizza
  </p>
  <p>
    - Un large choix de pâtes fraîches faites maison, accompagnées de sauces savoureuses
  </p>
  <p>
    - Des antipasti variés pour un moment de partage convivial
  </p>
  <p>
    - Des antipasti variés pour un moment de partage convivial
  </p>
  <p>
    - Des desserts gourmands pour clôturer votre repas en beauté
  </p>
  <p>
    - Une ambiance chaleureuse et conviviale pour un moment de détente en famille ou entre amis
  </p>
  <p>
    - Un service attentionné et souriant pour vous garantir un moment inoubliable
  </p>
  <p>
    Que vous soyez amateur de pizzas, de pâtes ou de spécialités italiennes, Sempre Linda a forcément le plat qui vous plaira.
    N'hésitez pas à nous rendre visite et laissez-vous transporter par les saveurs de l'Italie !
  </p>
  <p>
    Sempre Linda, votre restaurant italien à Villerupt depuis 1997.
  </p>
  <p>
    <strong>
      Ouvert du Mercredi au dimanche de 12h à 13h30 et de 18h30 à 20h00.
    </strong>
  </p>
  <p>
    <a href="tel:+33382893610"><strong>Télephone</strong></a> ou <a href="reservation"><strong>Site web</strong></a> pour réserver votre table.
  </p>
  <p>
    A presto !
  </p>

















</section>
