<nav>
  <a [routerLink]="['../home']">Retour acceuil</a>
  <ul id="sidemenu">
    <li class="mb-10 mt-10"><a [routerLink]="['dashboard']">Dashboard</a></li>
    <li class="mb-10"><h4>> User</h4></li>
    <ul class="mb-10">
      <li><a [routerLink]="['user']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['user/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Menu</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Entrées</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Pizzas</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Pâtes</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Viandes</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Poissons</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Dessert</h4></li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10"><h4>> Boissons</h4> </li>
    <ul>
      <li><a [routerLink]="['menu']">Liste</a></li>
      <li class="mb-10"><a [routerLink]="['menu/add']">Ajouter</a></li>
    </ul>
    <li class="mb-10 mt-10"><h4>> Réservation</h4></li>
    <ul>
      <li><a [routerLink]="['reservation']">Liste</a></li>
    </ul>
  </ul>
</nav>
